.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.formControl input {
  border: 1px solid #0d9488;
  outline: none;
  color: #0d9488;
  border-radius: 5px;
  padding: 10px 3px;
  width: 300px;
  margin-left: 1rem;
}
.formControl input:focus {
  border: 2px solid #0d9488;
}
